@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap');


.left-side {
    background-image: url("assets/me-tall.jpeg");
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-box-shadow: inset 0px 125px 105px 48px rgba(0, 0, 0, 0.48);
    -moz-box-shadow: inset 0px 125px 105px 48px rgba(0, 0, 0, 0.48);
    box-shadow: inset 0px 125px 105px 48px rgba(0, 0, 0, 0.48);
    font-family: 'Noto Sans JP', sans-serif;
}

.left-side>h3 {
    margin-top: 2.5em;
    font-weight: 700;
    color: #FFFFFF;
}

.left-side>span {
    font-size: 24px;
    margin-top: 0.5em;
    font-weight: 500;
    color: #FFFFFF;
}

.right-side{
    font-family: 'Noto Sans JP', sans-serif;
}

.list-tile-2{
    background-color: rgba(66, 64, 61, 0.212);
    padding: 2em;
}
.list-tile-1{
    padding: 2em;
}

.title-tile{
    margin-bottom: 5px;
    font-size: 24px;
    font-weight: 700;
}

.body-tile{
    font-size: 16px;
    font-weight: 400;
    text-align: justify;
}

ion-icon {
    pointer-events: none;
}

.card-columns {
    @include media-breakpoint-only(md) {
      column-count: 3;
    }
    @include media-breakpoint-only(lg) {
      column-count: 4;
    }
    @include media-breakpoint-only(xl) {
      column-count: 5;
    }
  }